<section class="section">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <h1 class="title">Empleados</h1>
      </div>
      <div class="level-right">
        <a class="button is-primary" href="/empleados/new">Nuevo</a>
      </div>
    </div>
    <table class="table is-fullwidth is-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>CURP</th>
          <th>Departamento</th>
          <th>Puesto</th>
          <th>Salario diario</th>
          <th>Ingreso</th>
        </tr>
      </thead>
      <tbody>
        <% employees.forEach(e => { %>
          <% const lastAssign = e.Assignments && e.Assignments[0]; %>
          <tr>
            <td><%= e.firstName %> <%= e.lastName %></td>
            <td><%= e.curp %></td>
            <td><%= lastAssign && lastAssign.Department ? lastAssign.Department.name : '-' %></td>
            <td><%= lastAssign && lastAssign.Position ? lastAssign.Position.name : '-' %></td>
            <td>$<%= e.dailySalary %></td>
            <td><%= e.hireDate %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</section>
